/* ---- reset ---- */
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  width: 100%;
  font: normal 75%;
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
}
h1 {
  font-size: 6vw;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 1.8rem;
  font-weight: 100;
}
p {
  font-size: 2vw;
  font-weight: 400;
}
.bg {
  background-color: #222;
  width: 100%;
  color: #fff;
}
.pd-t {
  padding-top: 5rem;
}
.pd-b {
  padding-bottom: 5rem;
}
.bg span {
  color: #7e7d7d;
  opacity: 0.8;
}
canvas {
  display: block;
  vertical-align: bottom;
  z-index: -9999;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #252525;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -9999;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  user-select: none;
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
.topnav {
  width: 70vw;
  padding: 0.5rem;
  background-color: rgba(45, 45, 45, 0.7);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 2rem;
  left: 15.5%;
  z-index: 9999;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-basis: 70%;
}
.topnav img {
  display: inline-block;
  width: 4rem;
  height: 3.25rem;
}

.topnav__menu {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  flex-basis: 100%;
  font-size: 2rem;
  text-transform: uppercase;
}
.topnav__menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.8rem 0 0.8rem 0.8rem;
}
.topnav__menu a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:active {
  opacity: 1;
  border-bottom: 2px solid #fff;
}
.topnav__menu button {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: rgba(89, 89, 89, 0);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  line-height: 2.25rem;
}
.topnav__menu button:hover {
  background-color: #ddd;
  color: black;
  border: 1px solid #000;
}
.topnav__menu {
  display: none;
}
.topnav.responsive .topnav__menu {
  display: flex;
}
@media screen and (min-width: 1180px) {
  .topnav {
    justify-content: space-between;
  }
  .topnav__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 80%;
    gap: 2rem;
  }
  .topnav__menu a {
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 700;
  }
  .topnav__menu a:hover {
    color: #fff;
    opacity: 1;
    background-color: rgba(89, 89, 89, 0);
  }
  .topnav__menu a:active {
    border-bottom: 2px solid #fff;
  }
  .logo {
    flex-basis: 20%;
  }
  .topnav .icon {
    display: none;
  }
  .topnav.responsive .icon {
    display: none;
  }
}
.hero {
  width: 90vw;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 3rem 1rem 0 1rem;
  text-align: center;
}
.hero h2 {
  font-size: 3rem;
}
.hero button {
  background-color: rgba(89, 89, 89, 0);
  color: #fff;
  padding: 3rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
}
@media screen and (min-width: 900px) {
  .hero {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  .hero h2 {
    font-size: 4.8rem;
  }
  .hero button {
    font-size: 3rem;
  }
}
.aboutus {
  width: 93%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.aboutus img {
  width: 100%;
}
.aboutus p {
  text-align: justify;
  text-justify: distribute-all-lines;
}
h1 {
  padding: 2rem;
  position: relative;
  line-height: 1;
  font-size: 10vw;
  z-index: 9999;
}
h1 span {
  color: #dcdcdc;
  position: absolute;
  padding: 2rem;
  font-size: 15vw;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: -1;
  top: -2.5vw;
  left: -5vw;
}
@media screen and (min-width: 768px) {
  .aboutus {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 4rem 1rem;
    gap: 1rem;
  }
  h1 {
    flex-basis: 100%;
    font-size: 4vw;
    font-weight: 550;
  }
  h1 span {
    font-size: 6vw;
    top: -1vw;
    left: -3vw;
  }
  .aboutus img {
    width: 48%;
    padding: 2rem 0;
    order: 1;
  }
  .aboutus p {
    width: 50%;
    font-size: 1vw;
  }
}
.services {
  width: 100%;
  padding-bottom: 5vh;
}
.servicecards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.servicecard {
  padding: 1rem;
  width: 40%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3rem #000;
  gap: 5rem;
  transition: all cubic-bezier(0.42, 1.34, 0.55, 0.93) 0.3s;
  transform: translateX(10px) rotateY(25deg) rotateX(20deg);
}
.servicecard:hover {
  transform: translateX(0) rotateY(0) rotateX(0);
}
.servicecard img {
  height: 20vw;
  align-self: flex-start;
  border: none;
  max-height: 10rem;
}
.servicecard p {
  text-transform: uppercase;
  align-self: flex-end;
  font-size: 3vw;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .services {
    width: 70%;
    margin: auto;
  }
  .servicecards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .servicecard {
    flex-basis: 35%;
    gap: 1rem;
  }
  .servicecard img {
    justify-self: flex-start;
  }
  .servicecard p {
    justify-self: flex-end;
    font-size: 1vw;
  }
}
@media screen and (min-width: 1000px) {
  .servicecard {
    flex-basis: 25%;
    gap: 2vw;
  }
}
.process {
  padding-bottom: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.processes {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 5rem;
}
.process__flex {
  display: flex;
  padding: 2rem;
  width: 80%;
  flex-direction: column-reverse;
  justify-items: center;
  align-items: center;
  box-shadow: 2px 0 5px #000;
}
.process__flex img {
  width: 30vw;
}
.process__content h2 {
  font-weight: 500;
  font-size: 5vw;
  margin: 1rem;
}
.process__content p {
  font-size: 3vw;
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (min-width: 768px) {
  .process {
    width: 70%;
    margin: auto;
  }
  .process__flex {
    flex-direction: row;
    font-size: 2vw;
  }
  .process__flex img {
    width: 20vw;
    justify-self: flex-start;
  }
  .process__content p {
    margin-top: 0;
    font-size: 1.5vw;
  }
}
.portfolio__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolio__buttons button {
  background-color: rgba(89, 89, 89, 0);
  color: #fff;
  border: 0;
  font-size: 3vw;
}
.border-right {
  border-right: 2px solid #fff !important;
}
.portfolio__cards__container {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.portfolio__card {
  width: 50vw;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.portfolio__card:hover {
  transform: scale(1.1);
}
.portfolio__card img {
  width: 100%;
  overflow: hidden;
}
.pf_img {
  overflow: hidden;
}
.portfolio__card img:hover {
  transform: scale(1.3);
  transition: all 2s;
}
@media screen and (min-width: 768px) {
  .portfolio {
    width: 70%;
    margin: auto;
  }
  .portfolio__cards__container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem 0;
  }
  .portfolio__card {
    width: 25rem;
  }
  .portfolio__card p {
    font-size: 2vw;
    margin: 1rem;
  }
  .portfolio__buttons button {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card {
    width: 30rem;
  }
  .portfolio__buttons {
    padding: 5rem 0;
  }
}
.clients {
  padding: 5rem;
}
.clients__icons {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.client__icon {
  width: 9.6rem;
  height: 9.6rem;
  opacity: 0.5;
}
.client__icon:hover {
  opacity: 1;
}
.clients .card {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  box-shadow: 0 1px 5px #999;
}
.clients .card p {
  margin: 0;
}
.clients .card button {
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 2vw;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .clients {
    margin: auto;
    width: 70%;
  }
  .client__icon {
    padding: 5rem;
    width: 11.6rem;
    height: 11.6rem;
  }
}
.footer__firm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.footer__firm img {
  width: 10vw;
}
.footer__firm p {
  font-size: 4vw;
}
.footer__social {
  display: flex;
  gap: 1rem;
}
.social__bg {
  color: rgba(149, 149, 149, 0.801);
  border-radius: 2px;
}
.footer h2 {
  font-size: 2vw;
}
.map ul {
  list-style: none;
  height: 15rem;
  width: 20vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.map ul li {
  flex-basis: 0.5rem;
  max-width: 7rem;
}
.contact a {
  text-decoration: none;
  color: #fff;
}
.contact__flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.contact__flex p {
  margin-top: 0;
  min-width: 4rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .footer__firm img {
    width: 4vw;
  }
  .footer__firm p {
    font-size: 2vw;
  }
  .contact__flex p {
    font-size: 2vw;
    min-width: 8rem;
  }
  .contact__flex address {
    max-width: 20rem;
  }
  ul li {
    font-size: 1.5vw;
  }
  .contact,
  .map {
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.copyright {
  display: flex;
  justify-content: space-between;
}
.copyright p {
  font-size: 1vw;
  padding: 0 1rem;
}
@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1200px;
    margin: auto;
  }
}
